@import "tailwindcss";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

@layer base {
  .box {
    @apply px-[7%] mx-auto;
  }

  @media (min-width: 2200px) {
    .box {
      @apply px-[22%];
    }
  }
}
