@import "tailwindcss";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  background: #0a0a0a;
}

@layer base {
  .box {
    @apply px-[7%] mx-auto;
  }

  .margin {
    @apply w-full mx-auto h-full;
  }

  /* Blur-Effect */
  .blur-effect-theme {
    @apply bg-[#0A0A0A]/50 bg-clip-padding backdrop-filter backdrop-blur opacity-100 z-[100] transition-all duration-300;
  }

  @media (min-width: 2200px) {
    .box {
      @apply px-[22%];
    }
  }

  @media (min-width: 768px) {
    .margin {
      @apply w-[70%];
    }
  }

  @media (min-width: 1024px) {
    .margin {
      @apply w-[50%];
    }
  }
}
