@import "tailwindcss";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  background: #0a0a0a;
  color: #fff;
}

/* ======= CLASES ======== */

@layer base {
  .box {
    @apply px-[7%] mx-auto;
  }

  .margin {
    @apply w-full mx-auto h-full;
  }

  .border-style {
    @apply border-[#2C2D2D];
  }

  /* button */
  .button-theme {
    @apply active:scale-90 transition-all duration-100 ease-in-out;
  }

  /* Blur-Effect */
  .blur-effect-theme {
    @apply bg-[#0A0A0A]/50 bg-clip-padding backdrop-filter backdrop-blur-lg opacity-100 z-[100] transition-all duration-300;
  }

  /* ======= MEDIA QUERIES ======= */

  @media (min-width: 768px) {
    .margin {
      @apply w-[65%];
    }
  }

  @media (min-width: 1024px) {
    .margin {
      @apply w-[45%];
    }
  }

  @media (min-width: 1424px) {
    .margin {
      @apply w-[40%];
    }
  }

  @media (min-width: 2200px) {
    .box {
      @apply px-[22%];
    }
  }

  /* ======= ANIMACIONES ======= */
  .hover-fill {
    @apply relative overflow-hidden;
  }

  .hover-fill::before {
    content: "";
    @apply absolute inset-0 transition-transform bg-[#171717] ease-in-out duration-100;
    transform: scaleX(0);
    transform-origin: center;
    z-index: -1;
  }

  .hover-fill:hover::before {
    transform: scaleX(1);
  }

  .modal-content {
    animation: modal-show 0.2s ease-out;
  }

  @keyframes modal-show {
    from {
      opacity: 0;
      transform: translateY(10px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}
